*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* Tipografías */
    --font-main: "Micro 5", monospace;

/*Tamaños versión escritorio*/
    --font-size-titulo: 6rem;
    --font-size-encabezado: 2rem;
    --font-size-texto: 1.2rem;

/*Tamaños versión tablet*/
    --font-size-titulo-t: 3rem;
    --font-size-encabezado-t: 1rem;
    --font-size-texto-t: 0.8rem;

/* Colores */
    --color-oscuro: #153034;
    --color-medio:#3f805c;
    --color-brillante: #95b954;
    --color-claro: #e3eec4;
    --color-fondo: #011915;
    --color-azul: #c7cee8;

/* Espaciados */
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;

/* Gaps */
    --gap-sm: 10px;
    --gap-md: 20px;
}

.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  overflow:hidden;
  height: 100dvh;
  width: 100dvw;
  display: flex;           /* Activa Flexbox */
  justify-content: center; /* Centrado horizontal */
  align-items: center;
  background-color: var(--color-fondo);

}

button{
    border: none;
    cursor: pointer;
    outline: none;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

img, video,picture {
    display: block; width: 100%;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

ul {list-style: none;}

a {
    text-decoration: none; 
    color: inherit; 
    display: block;  
    cursor: pointer;
}

canvas{
    image-rendering: pixelated;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    position: relative;
    aspect-ratio: 385 / 217;
    width: min(96%, calc(96dvh * (385 / 217)));
    max-height: 96dvh;
    background-color: var(--color-fondo);
    box-shadow: 
        0px -6px 0 0 var(--color-medio), 
        0 6px 0 0 var(--color-medio), 
        -6px 0 0 0 var(--color-medio), 
        6px 0 0 0 var(--color-medio);
}

/* MARK: Start Menu */

.start-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
    background-color: var(--color-fondo);
  
}

.start-menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
}

.start-menu-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: var(--spacing-sm);
}

.start-menu-logo {
  width: 100%;
  margin: 0 auto var(--gap-md) auto; 
}

.start-menu-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  /*gap: var(--gap-sm);*/

  
}

.start-menu-link {
  background: transparent;
  color: var(--color-claro);
  font-family: var(--font-main);
  font-size: var(--font-size-texto);
  padding: 0;
  gap: var(--gap-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.menu-arrow {
    height: 10px;
    object-fit: contain;
    opacity: 0;
    /*transform: translateX(-10px);*/
}


.start-menu-link:hover .menu-arrow {
    opacity: 1;
}

.start-menu-link:hover {
  color: var(--color-brillante);
  transform: translateX(10px); 
}

.gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}



/* MARK: Menu */

.in-game-menu-btn {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-md);
    z-index: 10;
    background-color: var(--color-claro);
    padding: 2px;
}

.open-menu-btn {
   box-shadow: 
        0px -4px 0 0 var(--color-oscuro), 
        0 4px 0 0 var(--color-oscuro), 
        -4px 0 0 0 var(--color-oscuro), 
        4px 0 0 0 var(--color-oscuro);
}

.in-game-menu-btn:hover {
    transform: translateY(1px);
    background-color: var(--color-brillante);
}

.menu-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 25, 21, 0.8); 
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-modal-box {
    position: relative;
    width: 60%; 
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bg-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.menu-close-btn {
    position: absolute;
    top: -1.5%; 
    right: -3%;
    width: 10%;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
}

.menu-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 15% 12%; 
}

.menu-title {
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    color: var(--color-medio); 
    margin-bottom: var(--spacing-sm);
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.menu-button {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-medio);
    background-color: transparent;
    padding: 4px 0;
    width: 80%;
    text-align: center;
    transition: background-color 0.2s;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
}

.menu-button:hover {
    background-color: var(--color-medio);
    color: var(--color-claro);
}

/*MARK: CONTROLS*/

.controls-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.back-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    color: var(--color-medio);
    padding: 0;
    margin-bottom: 5px; 
}

.back-button:hover {
    transform: translateX(-2px);
}

.back-arrow {
    width: 16px;
    transform: scaleX(-1); 
}

.controls-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    width: 100%;
    margin-top: 10px;
}

.control-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.control-row p {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-oscuro);
    line-height: 1;
    text-align: left;
    max-width: 65%;
}

.gif-placeholder {
    width: 30%;
    height: 40px;
    background-color: #d1d1d1; 
    flex-shrink: 0; 
    object-fit: contain;
}

/* --- CREDITS VIEW --- */
.credits-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 15px;
}

.credits-content p {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-oscuro);
    line-height: 1.1;
    text-align: center;
}

.credits-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.gray-box {
    width: 60px;
    height: 60px;
    background-color: #d1d1d1;
    flex-shrink: 0;
}