* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* Tipografías */
    --font-main: "Micro 5", monospace;

/* Tamaños versión escritorio */
    --font-size-titulo: 6rem;
    --font-size-encabezado: 2rem;
    --font-size-texto: 1.2rem;

/* Tamaños versión tablet */
    --font-size-titulo-t: 3rem;
    --font-size-encabezado-t: 1rem;
    --font-size-texto-t: 0.8rem;

/* Colores */
    --color-oscuro: #153034;
    --color-medio:#3f805c;
    --color-brillante: #95b954;
    --color-claro: #e3eec4;
    --color-fondo: #011915;
    --color-azul: #c7cee8;

/* Espaciados */
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;

/* Gaps */
    --gap-sm: 10px;
    --gap-md: 20px;
}

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

img, video, picture {
    display: block; 
    width: 100%;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

ul { list-style: none; }

a {
    text-decoration: none; 
    color: inherit; 
    display: block;  
    cursor: pointer;
}

canvas {
    image-rendering: pixelated;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel-btn {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    background-color: var(--color-claro);
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow: 
        0px -4px 0 0 var(--color-claro), 
        0 4px 0 0 var(--color-claro), 
        -4px 0 0 0 var(--color-claro), 
        4px 0 0 0 var(--color-claro);
    transition: all 0.1s ease;
    flex: 1; 
}

.pixel-btn__secondary {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    background-color: var(--color-medio);
    color: var(--color-claro);
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
    transition: all 0.1s ease;
    flex: 1; 
}

.pixel-btn:hover {
    background-color: var(--color-medio);
    color: var(--color-claro);
}

.pixel-btn:active {
    transform: translateY(2px);
}

.pixel-btn__secondary:hover {
    background-color: var(--color-claro);
    color: var(--color-medio);

}

.pixel-btn__secondary:active {
    transform: translateY(2px);
}

@media screen and (min-width: 640px) {

/* MARK: GAME CONTAINER*/
.game-container {
    position: relative;
    aspect-ratio: 384 / 208;
    width: min(96%, calc(96dvh * (384 / 208)));
    max-width: 1200px;
    max-height: 96dvh;
    background-color: var(--color-fondo);
    box-shadow: 
        0px -6px 0 0 var(--color-medio), 
        0 6px 0 0 var(--color-medio), 
        -6px 0 0 0 var(--color-medio), 
        6px 0 0 0 var(--color-medio);
}

.game-container__canvas {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* MARK: GAME UI (Block - Botones sobre el canvas) */
.game-ui__btn {
    position: absolute;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 5px;
}

.game-ui__btn--settings {
    right: 10px;
}

.game-ui__btn--inventory {
    right: 60px;
}

.game-ui__btn--menu-closed {
    top: var(--spacing-sm);
    right: var(--spacing-md);
    background-color: var(--color-claro);
    padding: 2px;
    box-shadow: 
        0px -4px 0 0 var(--color-oscuro), 
        0 4px 0 0 var(--color-oscuro), 
        -4px 0 0 0 var(--color-oscuro), 
        4px 0 0 0 var(--color-oscuro);
}

.game-ui__btn--menu-closed:hover {
    transform: translateY(1px);
    background-color: var(--color-brillante);
}

.game-ui__icon {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}


/* MARK: START MENU (Block) */
.start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
    background-color: var(--color-fondo);
}

.start-menu__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

.start-menu__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: var(--spacing-sm);
}

.start-menu__logo {
    width: 100%;
    margin: 0 auto var(--gap-md) auto; 
}

.start-menu__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.start-menu__link {
    background: transparent;
    color: var(--color-claro);
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    padding: 0;
    gap: var(--gap-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.start-menu__arrow {
    height: 10px;
    object-fit: contain;
    opacity: 0;
}

.start-menu__link:hover .start-menu__arrow {
    opacity: 1;
}

.start-menu__link:hover {
    color: var(--color-brillante);
    transform: translateX(10px); 
}

/* MARK: LOGIN (Block) */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login__bg {
    position: absolute;
    max-width: 500px;
    height: 85%;
    object-fit: contain;
    z-index: 1;
    aspect-ratio: 3/4;
}

.login__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    max-width: 500px;
    padding: var(--spacing-sm);
}

.login__title {
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    color: var(--color-claro);
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    width: 100%;
    align-items: center;
}

.login__field {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.login__field label {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-oscuro);
    margin-bottom: 12px;
}

.login__input {
    background-color: var(--color-medio);
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    padding: 6px 10px;
    color: var(--color-fondo);
    outline: none;
    border: none;
    box-shadow: 
        0px -4px 0 0 var(--color-claro), 
        0 4px 0 0 var(--color-claro), 
        -4px 0 0 0 var(--color-claro), 
        4px 0 0 0 var(--color-claro);
}

.login__input::placeholder {
    color: var(--color-oscuro);
    opacity: 0.7; 
}

.login__actions {
    display: flex;
    gap: 15px;
    width: 45%;
    margin-top: 15px;
}

.login__actions{
    flex: 1; 
}

.login__btn{
    background-color: var(--color-claro);
    color: var(--color-oscuro);

}

/* MARK: MODAL OVERLAY (Block general para superposiciones) */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 25, 21, 0.8); 
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MARK: MODAL */
.modal {
    position: relative;
    width: 60%; 
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__bg {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.modal__close-btn {
    background-color: var(--color-claro);
    position: absolute;
    z-index: 10;
    top: -1.5%; 
    right: -3%;
    width: 10%;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
}

.modal__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7%; 
}

.modal__title {
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    color: var(--color-medio); 
    margin-bottom: var(--spacing-sm);
}

.modal__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.modal__btn {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-medio);
    background-color: transparent;
    padding: 4px 0;
    width: 80%;
    text-align: center;
    transition: background-color 0.2s;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
}

.modal__btn:hover {
    background-color: var(--color-medio);
    color: var(--color-claro);
}


/* MARK: CONTROLS (Block) */
.controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.controls__back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: transparent;
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    color: var(--color-medio);
    padding: 0;
    margin-bottom: 5px; 
}

.controls__back-btn:hover {
    transform: translateX(-2px);
}

.controls__back-icon {
    width: 16px;
    transform: scaleX(-1); 
}

.controls__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    width: 100%;
    margin-top: 10px;
}

.controls__item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.controls__item p {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-oscuro);
    line-height: 1;
    text-align: left;
    max-width: 65%;
}

.controls__gif {
    width: 30%;
    height: 40px;
    background-color: #d1d1d1; 
    flex-shrink: 0; 
    object-fit: contain;
}


/* MARK: CREDITS (Block) */
.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 15px;
}

.credits p {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-oscuro);
    line-height: 1.1;
    text-align: center;
}

.credits__boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.credits__box {
    width: 60px;
    height: 60px;
    background-color: #d1d1d1;
    flex-shrink: 0;
}


/* MARK: EXIT (Block) */
.exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.exit__warning {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-oscuro);
    line-height: 1.1;
    text-align: center;
    margin-bottom: var(--spacing-md);
}

.exit__actions {
    gap: 15px; 
}


/* MARK: STORYBOARD (Block) */
.storyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    aspect-ratio: 200 / 150;
    width: min(96%, calc(96dvh * (384 / 208)));
    max-height: 96dvh;
    background-color: var(--color-fondo);
}

.storyboard__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index: 1;
    pointer-events: none;
    image-rendering: pixelated; 
}

.storyboard__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: 100%; 
    gap: 20%; 
}

.storyboard__animation {
    width: 100%;
    height: 65%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyboard__gif {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

.storyboard__text-box {
    width: 100%;
    height: 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyboard__text-box p {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-fondo); 
    line-height: 1.1;
    text-align: center;
}



/* MARK: INVENTORY (Block) */
.inventory {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
}

.inventory__bg {
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: contain;
    z-index: 1;
}

.inventory__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
    padding: 5px;
}

.inventory__close-btn img {
    width: 10px;
    height: 10px;
}

.inventory__content {
    position: relative;
    z-index: 2;
    display: flex;
    width: 70%; 
    height: 85%;
    gap: 5%;
}

.inventory__panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-sm);
}

.inventory__panel--right {
    padding-left: 0%; 
}

.inventory__title {
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    color: var(--color-medio);
    margin-bottom: var(--spacing-sm);
    text-transform: lowercase;
    text-align: center;
}

.inventory__reflection-box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-sm);
}

.inventory__reflection-icon {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.inventory__text {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-oscuro);
    text-align: center;
    width: 80%;
}

.inventory__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    height: 80%;
}

.inventory__slot {
    background-color: var(--color-medio);
    border: 2px solid var(--color-oscuro);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1; 
    transition: background-color 0.1s ease;
}

.inventory__slot:hover {
    background-color: var(--color-claro);
}

.inventory__slot--active {
    background-color: var(--color-brillante);
    border-color: var(--color-brillante);
}

.inventory__slot--empty {
    cursor: default;
    background-color: var(--color-medio);
    opacity: 0.7;
}

.inventory__slot--empty:hover {
    background-color: var(--color-medio);
}

.inventory__item-icon {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.inventory__item-icon--empty {
    width: 80%;
    height: 80%;
}

/*MARK: OVERLAY OBJETO*/

/* Block: item-modal */
.item-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Elements */
.item-modal__container {
  position: relative;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-modal__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.item-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  color: var(--color-oscuro);
  font-family: var(--font-main) !important;
}

.item-modal__title {
  font-family: var(--font-main) !important;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.item-modal__image {
  width: 80px;
  height: 80px;
  image-rendering: pixelated;
  margin-bottom: 20px;
}

.item-modal__desc {
  font-family: var(--font-main) !important;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 30px;
  max-width: 80%;
}

.item-modal__actions {
  display: flex;
  gap: 40px;
}

.item-modal__btn {
  font-family: var(--font-main) !important;
  padding: 10px 30px;
  cursor: pointer;
  border: 2px solid var(--color-oscuro);
  background: var(--color-brillante);
  font-size: 16px;
  color: var(--color-oscuro);
}

}



@media screen and (min-width: 960px) {

/*MARK: STARTMENU*/

.start-menu__link {
    font-size: var(--font-size-encabezado);
    gap: var(--gap-sm);
}

.start-menu__arrow {
    height: 24px;
}

/*MARK: LOGIN */

}