/* =========================================
   1. ESTILOS BASE Y ESCRITORIO (Desktop First)
   ========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* Tipografías */
    --font-main: "Micro 5", monospace;

/* Tamaños versión extra-grande */
    --font-size-titulo-xl: 8rem;
    --font-size-encabezado-xl: 3rem;
    --font-size-texto-xl: 2rem;

/* Tamaños versión escritorio */
    --font-size-titulo: 6rem;
    --font-size-encabezado: 2rem;
    --font-size-texto: 1.2rem;

/* Tamaños versión tablet */
    --font-size-titulo-t: 3rem;
    --font-size-encabezado-t: 1rem;
    --font-size-texto-t: 0.8rem;

/* Colores */
    --color-oscuro: #153034;
    --color-medio:#3f805c;
    --color-brillante: #95b954;
    --color-claro: #e3eec4;
    --color-fondo: #011915;
    --color-azul: #c7cee8;

/* Espaciados */
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;

/* Gaps */
    --gap-sm: 10px;
    --gap-md: 20px;
}

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

img, video, picture {
    display: block; 
    width: 100%;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    backface-visibility: hidden;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

ul { list-style: none; }

a {
    text-decoration: none; 
    color: inherit; 
    display: block;  
    cursor: pointer;
}

canvas {
    image-rendering: pixelated;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MARK: BOTONES GENÉRICOS */
.pixel-btn {
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow: 
        0px -4px 0 0 var(--color-claro), 
        0 4px 0 0 var(--color-claro), 
        -4px 0 0 0 var(--color-claro), 
        4px 0 0 0 var(--color-claro);
    transition: all 0.1s ease;
    flex: 1; 
}

.pixel-btn__secondary {
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    background-color: var(--color-medio);
    color: var(--color-claro);
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    text-transform: lowercase;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
    transition: all 0.1s ease;
    flex: 1; 
}

.pixel-btn:hover {
    background-color: var(--color-medio);
    color: var(--color-claro);
}

.pixel-btn:active {
    transform: translateY(2px);
}

.pixel-btn__secondary:hover {
    background-color: var(--color-claro);
    color: var(--color-medio);
}

.pixel-btn__secondary:active {
    transform: translateY(2px);
}

/* MARK: DETECTOR PANTALLA */
.rotate-device-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-oscuro);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rotate-device-screen__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
}

.rotate-device-screen__icon {
    width: 120px; 
    height: 200px;
    background: url('/movil.png') no-repeat center;
    background-size: contain;
    animation: rotate-animation 3s infinite ease-in-out;
}

.rotate-device-screen__text {
    color: var(--color-medio); 
    font-family: var(--font-main); 
    text-transform: lowercase;
    font-size: var(--font-size-encabezado);
}

@keyframes rotate-animation {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(90deg); }
}


/* MARK: GAME CONTAINER */
.game-container {
    position: relative;
    aspect-ratio: 384 / 208;
    width: min(96%, calc(96dvh * (384 / 208)));
    max-width: 1200px;
    max-height: 96dvh;
    background-color: var(--color-fondo);
    box-shadow: 
        0px -6px 0 0 var(--color-medio), 
        0 6px 0 0 var(--color-medio), 
        -6px 0 0 0 var(--color-medio), 
        6px 0 0 0 var(--color-medio);
}

.game-container__canvas {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


/* MARK: GAME UI */
.game-ui__btn {
    position: absolute;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 5px;
}

.game-ui__btn--settings {
    right: 10px;
}

.game-ui__btn--inventory {
    right: 60px;
}

.game-ui__btn--menu-closed {
    top: var(--spacing-sm);
    right: var(--spacing-md);
    background-color: var(--color-claro);
    padding: 2px;
    box-shadow: 
        0px -4px 0 0 var(--color-oscuro), 
        0 4px 0 0 var(--color-oscuro), 
        -4px 0 0 0 var(--color-oscuro), 
        4px 0 0 0 var(--color-oscuro);
}

.game-ui__btn--menu-closed:hover {
    transform: translateY(1px);
    background-color: var(--color-brillante);
}

.game-ui__icon {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}


/* MARK: START MENU */
.start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
    background-color: var(--color-fondo);
}

.start-menu__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

.start-menu__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding: var(--spacing-sm);
}

.start-menu__logo {
    width: 100%;
    margin: 0 auto var(--gap-md) auto; 
}

.start-menu__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.start-menu__link {
    background: transparent;
    color: var(--color-claro);
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    padding: 0;
    gap: var(--gap-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.start-menu__arrow {
    height: 24px; 
    object-fit: contain;
    opacity: 0;
}

.start-menu__link:hover .start-menu__arrow {
    opacity: 1;
}

.start-menu__link:hover {
    color: var(--color-brillante);
    transform: translateX(10px); 
}


/* MARK: LOGIN */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login__bg {
    position: absolute;
    max-width: 700px;
    height: 85%;
    object-fit: contain;
    z-index: 1;
    aspect-ratio: 3/4;
}

.login__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    max-width: 500px;
    padding: var(--spacing-sm);
}

.login__title {
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado-xl);
    color: var(--color-claro);
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    width: 100%;
    align-items: center;
}

.login__field {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.login__field label {
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    color: var(--color-oscuro);
    margin-bottom: 12px;
}

.login__input {
    background-color: var(--color-medio);
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    padding: 6px 10px;
    color: var(--color-fondo);
    outline: none;
    border: none;
    box-shadow: 
        0px -4px 0 0 var(--color-claro), 
        0 4px 0 0 var(--color-claro), 
        -4px 0 0 0 var(--color-claro), 
        4px 0 0 0 var(--color-claro);
}

.login__input::placeholder {
    color: var(--color-oscuro);
    opacity: 0.7; 
}

.login__actions {
    display: flex;
    gap: 15px;
    width: 45%;
    margin-top: 15px;
    flex: 1; 
}

.login__btn {
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    font-size: var(--font-size-texto-xl);

}


/* MARK: MODAL OVERLAY */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 25, 21, 0.8); 
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MARK: MODAL MENU */
.modal {
    position: relative;
    width: 60%; 
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__bg {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.modal__close-btn {
    background-color: var(--color-claro);
    position: absolute;
    z-index: 10;
    top: -1.5%; 
    right: -3%;
    width: 8%;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
}

.modal__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7%; 
}

.modal__title {
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado-xl);
    color: var(--color-medio); 
    margin-bottom: var(--spacing-sm);
}

.modal__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.modal__btn {
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    color: var(--color-medio);
    background-color: transparent;
    padding: 4px 0;
    width: 80%;
    text-align: center;
    transition: background-color 0.2s;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
}

.modal__btn:hover {
    background-color: var(--color-medio);
    color: var(--color-claro);
}


/* MARK: CONTROLS*/
.controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.controls__back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: transparent;
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado-xl);
    color: var(--color-medio);
    padding: 0;
    margin-bottom: 8%; 
}

.controls__back-btn:hover {
    transform: translateX(-2px);
}

.controls__back-icon {
    width: 16px;
    transform: scaleX(-1); 
}

.controls__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    width: 100%;
    margin-top: 10px;
}

.controls__item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.controls p{
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    color: var(--color-oscuro);
    text-align: left;
    max-width: 65%;
}

.controls__gif {
    width: 30%;
    height: 40px;
    background-color: #d1d1d1; 
    flex-shrink: 0; 
    object-fit: contain;
}


/* MARK: CREDITS */
.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 15px;
}

.credits p{
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    color: var(--color-oscuro);
    text-align: center;
}

.credits__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.credits__boxes__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.credits__box {
    flex-direction: row;
    width: 60px;
    height: 60px;
    background-color: #d1d1d1;
    flex-shrink: 0;
}


/* MARK: EXIT*/
.exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.exit__warning {
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    color: var(--color-oscuro);
    text-align: center;
    margin-bottom: var(--spacing-md);
}

.exit__actions {
    display: flex;
    gap: 40px; 
}


/* MARK: STORYBOARD */
.storyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    aspect-ratio: 200 / 150;
    width: min(96%, calc(96dvh * (384 / 208)));
    max-height: 96dvh;
    background-color: var(--color-fondo);
}

.storyboard__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index: 1;
    pointer-events: none;
    image-rendering: pixelated; 
}

.storyboard__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: 100%; 
    gap: 20%; 
}

.storyboard__animation {
    width: 100%;
    height: 65%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyboard__gif {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

.storyboard__text-box {
    width: 100%;
    height: 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyboard__text-box p {
    font-family: var(--font-main);
    font-size: var(--font-size-texto-xl);
    color: var(--color-fondo); 
    line-height: 1.1;
    text-align: center;
}


/* MARK: INVENTORY */
.inventory {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
}

.inventory__bg {
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: contain;
    z-index: 1;
}

.inventory__close-btn {
    position: absolute;
    background-color: var(--color-claro);
    position: absolute;
    z-index: 10;
    top: 6%;
    right: 12%;
    width: 4%;
    box-shadow: 
        0px -4px 0 0 var(--color-medio), 
        0 4px 0 0 var(--color-medio), 
        -4px 0 0 0 var(--color-medio), 
        4px 0 0 0 var(--color-medio);
}

.inventory__close-btn img {
    width: 100%;
   
}

.inventory__content {
    position: relative;
    z-index: 2;
    display: flex;
    width: 70%; 
    height: 85%;
    gap: 5%;
}

.inventory__panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-sm);
    padding-left: 8%;
}

.inventory__panel--right {
    padding: 10px 8% 10px 4%;
    flex: 1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory__title {
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    color: var(--color-medio);
    margin-bottom: var(--spacing-sm);
    text-transform: lowercase;
    text-align: center;
}

.inventory__reflection-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-sm);
}

.inventory__reflection-icon {
    max-width: 100%;
    object-fit: contain;
}

.inventory__text {
    font-family: var(--font-main);
    font-size: var(--font-size-encabezado);
    color: var(--color-oscuro);
    text-align: center;
    width: 80%;
}

.inventory__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(4, 1fr);
    gap: 5%;
    height: 80%;
}

.inventory__slot {
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1; 
    transition: transform 0.1s ease;
}

.inventory__slot-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
    image-rendering: pixelated;
}

.inventory__slot--active {
    filter: drop-shadow(0 0 4px var(--color-brillante)); 
}

.inventory__slot--empty {
    cursor: default;
    opacity: 0.8; 
}

.inventory__item-icon {
    position: absolute;
    transform: translate(-50%, -50%); 
    width: 60%; 
    height: 60%;
    z-index: 2;
    object-fit: contain;
    image-rendering: pixelated;
    pointer-events: none;
}


/* MARK: ITEM MODAL OVERLAY OBJETO */
.item-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(1, 25, 21, 0.85);
}

.item-modal__container {
  position: relative;
  width: 90%;
  height: auto;
  aspect-ratio: 4/3;
  max-width: 700px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-modal__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.item-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: var(--color-oscuro);
  font-family: var(--font-main) ;
}

.item-modal__title {
  font-size: var(--font-size-encabezado-xl);
  letter-spacing: 2px;
}

.item-modal__image {
  width: 130px;
  image-rendering: pixelated;
  margin-bottom: 20px;
}

.item-modal__desc {
  font-size: var(--font-size-texto-xl);
  margin-bottom: var(--spacing-lg);
  max-width: 80%;
}

.item-modal__actions {
  display: flex;
  gap: 40px;
}

.item-modal__btn {
  font-size: var(--font-size-texto-xl);  
  padding: 10px 30px;
  cursor: pointer;
  color: var(--color-oscuro);
}


/* Pantallas inferiores a 1080px */
@media screen and (max-width: 1080px) {

/*BOTONES GENERICOS*/
.pixel-btn{
    font-size: var(--font-size-texto);
}

.pixel-btn__secondary{
    font-size: var(--font-size-texto);
}

/* MARK: LOGIN */
.login__bg { 
    max-width: 500px;
}

.login__content{
    width: 55%;
}

.login__title {
    font-size: var(--font-size-encabezado);
}

.login__field {
    width: 85%;
}

.login__field label {
    font-size: var(--font-size-texto);
}

.login__input {
    font-size: var(--font-size-texto);
}

.inventory__text {
        font-size: var(--font-size-texto);
    }

.login__btn {
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    font-size: var(--font-size-texto);
}

/*MARK: STORYBOARD*/
.storyboard__text-box p {
    font-family: var(--font-main);
    font-size: var(--font-size-texto);
    color: var(--color-fondo); 
    line-height: 1.1;
    text-align: center;
}


.modal__btn {
    font-size: var(--font-size-texto);
}


/* MARK: ITEM MODAL OVERLAY OBJETO */

.item-modal__container {
  width: 60%;
  max-width: 600px;

}

.item-modal__content {
  width: 90%;
}

.item-modal__title {
  font-size: var(--font-size-encabezado);
  letter-spacing: 2px;
}

.item-modal__image {
  width: 100px;
  image-rendering: pixelated;
  margin-bottom: 16px;
}

.item-modal__desc {
  font-size: var(--font-size-texto);
  margin-bottom: var(--spacing-md);
  max-width: 80%;
}

.item-modal__btn {
  font-size: var(--font-size-texto);  
}

/* MARK: MODAL MENU */
.modal {    
    width: 60%; 
    max-width: 500px;
}


.modal__close-btn {
    width: 8%;
}

.modal__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7%; 
}

.modal__title {
    font-size: var(--font-size-encabezado);

}

/* MARK: CONTROLS*/

.controls__back-btn {
    font-size: var(--font-size-encabezado);
}

.controls p{
    font-size: var(--font-size-texto);
 
}

/* MARK: CREDITS */
.credits p{
    font-size: var(--font-size-texto);
}

/* MARK: EXIT*/

.exit__warning {
    font-size: var(--font-size-texto);
}

/*MARK:INVENTORY*/
.inventory__text {
    line-height: 0.9;
    font-size: var(--font-size-encabezado);
    width: 100%;
}

}

/* Pantallas inferiores a 960px */
@media screen and (max-width: 959px) {

/* MARK: START-MENU*/

    .start-menu__link {
        font-size: var(--font-size-texto);
        gap: var(--gap-sm);
    }
    
    .start-menu__arrow {
        height: 10px;
    }

/*MARK:INVENTORY*/

.inventory__reflection-box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-md);
}

.inventory__text {
    line-height: 0.9;
    font-size: var(--font-size-texto);
    width: 100%;
}

.inventory__title {
    margin-bottom: var(--spacing-md);
}

    
}

@media screen and (max-width: 670px) {

.pixel-btn {
    font-size: var(--font-size-texto-t);
    border: none;
    padding: 4px 12px;

}

.pixel-btn__secondary {
    font-size: var(--font-size-texto-t);
    padding: 4px 12px;

}

/* MARK: LOGIN */

.login__bg {
    height: 90%;
}

.login__title {
    font-size: var(--font-size-encabezado-t);
}

.login__form {
    gap: 16px;
}


.login__field label {
    font-size: var(--font-size-texto-t);
    margin-bottom: 8px;
}

.login__input{
    font-size: var(--font-size-texto-t);
}

.login__actions {
    gap: 8px;
    margin-top: 8px;
}

.login__btn {
    padding: 0px;
    font-size: var(--font-size-texto-t);
}

/*MARK: MODAL MENU*/
.modal__content {
    left:5%;
    width: 90%;
    height: 90%;
}


/* MARK: CONTROLS*/

.controls__back-btn {
    font-size: var(--font-size-encabezado-t);
}

.controls p{
    font-size: var(--font-size-texto-t);
 
}

/* MARK: CREDITS */
.credits p{
    font-size: var(--font-size-texto-t);
}

/* MARK: EXIT*/
.modal__title {
    font-size: var(--font-size-encabezado-t);

}
.exit__warning {
    font-size: var(--font-size-texto-t);
}


/* MARK: ITEM MODAL OVERLAY OBJETO */
.item-modal__container {
  width: 60%;
  max-width: 600px;
  aspect-ratio: 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-modal__content {
  width: 90%;
}

.item-modal__title {
  font-size: var(--font-size-encabezado-t);
  letter-spacing: 2px;
}

.item-modal__image {
  width: 60px;
  image-rendering: pixelated;
  margin-bottom: 16px;
}

.item-modal__desc {
  font-size: var(--font-size-texto-t);
  margin-bottom: var(--spacing-md);
  max-width: 80%;
}

.item-modal__btn {
  font-size: var(--font-size-texto-t);  
}

/*MARK:INVENTORY*/

.inventory__reflection-box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-sm);
}

.inventory__text {
    line-height: 0.9;
    font-size: var(--font-size-encabezado-t);
    width: 100%;
}

.inventory__title {
    font-size: var(--font-size-encabezado-t);
    margin-bottom: var(--spacing-sm);
}

}


@media screen and (max-width: 480px) and (orientation: portrait) {
    .game-container { 
        display: none; 
    }
}